---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'education', text: 'Education' },
  { depth: 2, slug: 'uses', text: 'Uses' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} comment>
  <p>
    你好呀！👋
  </p>
  <p>
    我是 Lyscoria，是北京大学元培学院计算机科学与技术专业的 2024 级本科生，
  </p>
  <p>
    也是一个菜菜的 Minecraft / 音游玩家。
  </p>
  <!--
    <p>
      <Spoiler>这里可以夹私货，比如为什么要演奏春日影！</Spoiler>
    </p>
  -->

  {/* education */}
  <h2 id='education'>Education</h2>
  <Timeline
    events={[
      {
        date: '2024.8',
        content: '<a href="https://www.pku.edu.cn/" target="_blank">北京大学</a>'
      },
      {
        date: '2021.8',
        content: '<a href="https://sdshiyan.jinan-edu.cn/" target="_blank">山东省实验中学</a>（东校区）'
      },
    ]}
  />

  {/* uses */}
  <h2 id='uses'>Uses</h2>

  <ToolSection
    class='mb-5'
    title='编程语言'
    tools={[
      {
        name: 'C++',
        description: '最熟悉的语言',
        href: 'https://isocpp.org/',
        icon: import('@/assets/tools/cpp.svg?raw')
      },
      {
        name: 'Rust',
        description: '编译器/操作系统',
        href: 'https://rust-lang.org/',
        icon: import('@/assets/tools/rust.svg?raw')
      },
      {
        name: 'Rocq',
        description: '交互式定理证明',
        href: 'https://rocq-prover.org/',
        icon: import('@/assets/tools/rocq.svg?raw')
      },
      {
        name: 'Python',
        description: 'AI训练/小型脚本',
        href: 'https://www.python.org/',
        icon: import('@/assets/tools/python.svg?raw')
      },
      {
        name: 'Java',
        description: 'Minecraft Mods',
        href: 'https://www.java.com/',
        icon: import('@/assets/tools/java.svg?raw')
      }
    ]}
  />

  <ToolSection
    class='mb-5'
    title='开发'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'IntelliJ IDEA',
        description: 'IDE',
        href: 'https://www.jetbrains.com/idea/',
        icon: import('@/assets/tools/idea.svg?raw')
      },
      {
        name: 'Typora',
        description: 'Markdown 编辑器',
        href: 'https://typora.io/',
        icon: import('@/assets/tools/typora.svg?raw')
      },
      {
        name: 'Overleaf',
        description: 'LaTeX 编辑器',
        href: 'https://typora.io/',
        icon: import('@/assets/tools/overleaf.svg?raw')
      },
    ]}
  />

  <ToolSection
    class='mb-5'
    title='设计'
    tools={[
      {
        name: 'Premiere Pro',
        description: '视频剪辑',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      },
      {
        name: 'After Effects',
        description: '视频剪辑',
        href: 'https://www.adobe.com/products/aftereffects',
        icon: import('@/assets/tools/aftereffects.svg?raw')
      },
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>
    你可以从这些地方找到我：
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/lyscoria',
        text: 'followers',
        api: 'github/lyscoria'
      },
    ]}
  />

  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <p>网站时间线：</p>
  <Timeline
    events={[
      {
        date: '2026-03-28',
        content:
          '基于 <a href="https://astro.build/" target="_blank">Astro 框架</a> 和 <a href="astro-pure.js.org" target="_blank">Pure 主题</a> 创建了网站。'
      }
    ]}
  />
</PageLayout>
