---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'

const headings = [
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'learnings', text: 'Learnings' },
  { depth: 2, slug: 'others', text: 'Others' },
  // { depth: 2, slug: 'gpg-signature', text: 'GPG Signature' },
  // { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
]
---

<PageLayout title='Projects' {headings} view>
  {/* About astro-pure */}
  <p>Github Activities:</p>
  <div class="overflow-x-auto py-4 w-full">
    <div class="overflow-x-auto py-4 w-full">
      <img 
        src="https://ghchart.rshah.org/659eb9/lyscoria" 
        alt="lyscoria Github Activities" 
        class="gh-chart w-full h-auto transition-all duration-30"
        loading="lazy"
      />
    </div>

    <style>
      :global(html.dark) .gh-chart {
        filter: invert(1) hue-rotate(180deg) brightness(1.2);
      }
    </style>
  </div>
  <p>
    （躺）
  </p>
  <!--
  <Button title='Checkout sponsorship' class='w-fit' href='#sponsorship'>
    <Icon class='size-5' name='receive-money' slot='before' />
  </Button>
  -->

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      /*
        {
          name: '🎨 Astro Theme Pure',
          description: 'A simple, fast and powerful blog & document theme built by Astro',
          links: [
            { type: 'github', href: 'https://github.com/cworld1/astro-theme-pure' },
            { type: 'site', href: 'https://astro-pure.js.org/' },
            { type: 'doc', href: 'https://astro-pure.js.org/docs/list' },
            { type: 'release', href: 'https://www.npmjs.com/package/astro-pure' }
          ]
        },
        {
          name: '💄 PKU Art',
          description: 'A script to beautify pku course website',
          links: [
            { type: 'github', href: 'https://github.com/zhuozhiyongde/pku-art' },
            { type: 'site', href: 'https://github.com/zhuozhiyongde/pku-art' },
            { type: 'doc', href: 'https://docs.arthals.ink/docs/pku-art' }
          ]
        }
      */
    ]}
  />
  <Collapse title='Some old projects'>
    <ProjectSection
      projects={[

      ]}
    />
  </Collapse>

  <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    projects={[
      /*
        {
          name: 'R Learning',
          description: 'Some notes and code about learning R language',
          links: [
            { type: 'github', href: 'https://github.com/cworld1/r-learning' },
            { type: 'site', href: 'https://cworld1.github.io/r-learning' }
          ]
        },
      */
      {
        name: '软件科学基础 / 2026Spring',
        description: '待更新',
        links: [
          { type: 'site', href: 'https://xiongyingfei.github.io/SF/2026/' }
        ]
      },
      {
        name: '编译原理（实验班）/ 2026Spring',
        description: '待更新',
        links: [
          // 网址需要更新！
          { type: 'site', href: 'https://stonebuddha.github.io/compiler25spring/' }
        ]
      },
      {
        name: '信息学中的概率统计 / 2026Spring',
        description: '待更新',
        links: [
          { type: '', href: '' }
        ]
      },
      {
        name: '机器学习 / 2025Fall',
        description: '含 Lab，涵盖了线性回归、逻辑回归、决策树、Adaboost、SVM、VAE、Diffusion 等机器学习算法的基本实践。',
        links: [
          { type: 'github', href: 'https://github.com/Lyscoria/Machine-Learning' },
          { type: 'site', href: 'https://github.com/MuLabPKU/MachineLearningCourse2025' }
        ]
      },
      {
        name: '信息科学中的数学 / 2025Fall',
        description: '含笔记和作业，内容包括高维几何、SVD、学习理论、流和采样算法、随机图的基础内容。',
        links: [
          { type: 'github', href: 'https://github.com/Lyscoria/Mathematical-Foundations-for-the-Information-Age' }
        ]
      },
      {
        name: '计算机系统导论 / 2025Fall',
        description: '含 Lab，涵盖了 CS:APP 的所有内容。',
        links: [
          { type: 'github', href: 'https://github.com/Lyscoria/Introduction-to-Computer-Systems' }
        ]
      },
      {
        name: '离散数学与结构 / 2025Fall',
        description: '贡献了部分官方笔记。课程涵盖逻辑、抽代、组合、信息论、离散 Fourier 变换、Markov 链、图论和概率方法等。',
        links: [
          { type: 'site', href: 'https://liutianren.com/discrete/' }
        ]
      },
      {
        name: '软件设计实践 / 2025Spring',
        description: '含中作业文献管理工具和大作业 Mini-Lisp 解释器。',
        links: [
          { type: 'github', href: 'https://github.com/Lyscoria/Docman' },
          { type: 'github', href: 'https://github.com/Lyscoria/Mini-Lisp-Interpreter' },
          { type: 'site', href: 'https://pku-software.github.io/' },
        ]
      },
      {
        name: '人工智能引论 / 2025Spring',
        description: '含 Lab，内容包括了搜索算法、机器学习、NLP 和仿真的初步知识。',
        links: [
          { type: 'github', href: 'https://github.com/Lyscoria/Introduction-to-AI' }
        ]
      },
    ]}
  />

  <h2 id='others'>Others</h2>
  <ProjectSection
    projects={[
    ]}
  />
  <!--
  <h2 id='gpg-signature'>GPG Signature</h2>
  <p>
    You can verify the authenticity of the files I signed by checking the GPG signature. My GPG key
    is <code>114514</code>, and you can find it on the opengpg key servers or download from it.
  </p>
  <Button href='https://keys.openpgp.org/search?q=114514' title='Checkout my key' target='_blank'>
    <KeyIcon class='size-5' slot='before' />
  </Button>
  -->

  <!--
  <h2 id='sponsorship'>Sponsorship</h2>
  <p>Chinese methods: <a href="https://afdian.com/a/cworld" target="_blank">Afadian</a>, Wechat or Alipay </p>
  <Sponsorship
    methods={[
      { name: 'WeChat', icon: 'wechat-pay', image: wechat },
      { name: 'Alipay', icon: 'alipay', image: alipay }
    ]}
  />
  <p>Global methods: <a href="https://ko-fi.com/cworld0" target="_blank">Ko-fi</a> </p>
  <p>Please leave a message or contact me proactively after sponsorship. My email is:
    <code style='cursor: pointer'
      onclick='const m=atob(this.textContent);alert(m);window.open(`mailto:${m}`,"_blank")'
    >Y3dvcmxkMEBxcS5jb20=</code>
    (click code to transform base64).
  </p>
  <p>Thanks to the following sponsors:</p>
  <Sponsors
    progressMax={50}
    sponsors={[
      { name: 'Saneko', platform: 'Wechat', amount: 188, date: '2026-02-25' },
      { name: '边缘星2020', platform: 'Afdian', amount: 20.26, date: '2026-02-17' },
      { name: 'Juyao Huang', platform: 'Wechat', amount: 5, date: '2026-01-15' },
      { name: 'hoochanlon', platform: 'Wechat', amount: 5, date: '2025-11-09' },
      { name: 'Arthals', platform: 'Wechat', amount: 50, date: '2025-11-06' },
      { name: '边缘星2020 (byx2020.com)', platform: 'Alipay', amount: 50, date: '2025-11-01' },
      { name: '小哲', platform: 'Wechat', amount: 50, date: '2025-08-19' },
      { name: 'Open1V', platform: 'Wechat', amount: 2, date: '2025-08-14' },
      { name: 'Luis Xu', platform: 'Alipay', amount: 30, date: '2025-08-03' },
      { name: '顾**', platform: 'Wechat', amount: 28, date: '2025-06-23' },
      { name: 'Hans J.Han', platform: 'Wechat', amount: 10, date: '2025-04-04' },
      { name: '**青', platform: 'Alipay', amount: 12, date: '2024-05-21' },
      { name: 'Anonymous', platform: 'Wechat', amount: 20, date: '2022-04-06' },
      { name: '华雄', platform: 'QQ', amount: 5, date: '2019-12-30' },
      { name: '◌', platform: 'QQ', amount: 3, date: '2019-12-30' },
      // 酷安@暴走の蜗牛
      { name: 'C*a', amount: 2, date: '2019-07-02' }
    ]}
  />
  -->
</PageLayout>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
